body{
    background-color: pink;
}
p{               
    background-color: lightgrey;
    text-align: center;
    width: 60%;
    border-left: 20px solid red;
    border-right: 20px solid red;
    border-radius: 20px;
}
.button{
    border-style: groove;
    border-width: 5px 3px 5px 3px;
    border-color: #A1D16A;
}